:root {
    --boxsize: 100px;
    --lettersize: calc(var(--boxsize) * 0.9);
  }
  
  body {
    margin: 0px;
  }
  
  h1 {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  .board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
  }
  
  .box {
    width: var(--boxsize);
    height: var(--boxsize);
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .box:first-child,
  :nth-child(2),
  :nth-child(3) {
    border-top: none;
  }
  :nth-child(1),
  :nth-child(4),
  :nth-child(7) {
    border-left: none;
  }
  :nth-child(3),
  :nth-child(6),
  :nth-child(9) {
    border-right: none;
  }
  .box:last-child,
  :nth-child(7),
  :nth-child(8) {
    border-bottom: none;
  }
  .box.x,
  .box.o {
    cursor: not-allowed;
  }
  
  .box.x::before,
  .box.x::after,
  .box.o::before {
    background-color: blue;
  }
  .board.x .box:not(.x):not(.o):hover::before,
  .board.x .box:not(.x):not(.o):hover::after,
  .board.o .box:not(.x):not(.o):hover::before {
    background-color: rgb(181, 181, 255);
  }
  
  .box.x::before,
  .box.x::after,
  .board.x .box:not(.x):not(.o):hover::before,
  .board.x .box:not(.x):not(.o):hover::after {
    content: "";
    width: calc(var(--lettersize) * 0.15);
    height: var(--lettersize);
    position: absolute;
  }
  
  .box.x::before,
  .board.x .box:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
  }
  
  .box.x::after,
  .board.x .box:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
  }
  
  .box.o::before,
  .box.o::after,
  .board.o .box:not(.x):not(.o):hover::before,
  .board.o .box:not(.x):not(.o):hover::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  
  .box.o::before,
  .board.o .box:not(.x):not(.o):hover::before {
    width: calc(var(--lettersize) * 0.9);
    height: calc(var(--lettersize) * 0.9);
  }
  
  .box.o::after,
  .board.o .box:not(.x):not(.o):hover::after {
    width: calc(var(--lettersize) * 0.6);
    height: calc(var(--lettersize) * 0.6);
    background-color: white;
  }
  .winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    flex-direction: column;
  }
  
  .winning-message button {
    font-size: 2rem;
    border: 2px solid blue;
    padding: 0.25em 0.5em;
    cursor: pointer;
    color: blue;
    background-color: white;
  }
  
  .winning-message button:hover {
    font-size: 2rem;
    border: 2px solid white;
    padding: 0.25em 0.5em;
    cursor: pointer;
    color: white;
    background-color: blue;
  }
  
  .winning-message.display {
    display: flex;
  }